.top {
  text-align: center;
  background-image: url(../images/pattern-bg.png);
  height: 13.88rem;

  h1 {
    padding: 2rem 0;
    color: white;
    font-size: 1.5rem;
  }

  &__input {
    display: flex;
    justify-content: center;

    input {
      width: 25rem;
      height: 3rem;
      border-style: none;
      border-radius: 0.75rem 0 0 0.75rem;
      padding-left: 1.25rem;
      font-size: 0.9rem;
      font-family: "Rubik", sans-serif;

      &::placeholder {
        color: $grey;
      }

      &:focus {
        outline: none;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkGrey;
      height: 3rem;
      width: 3rem;
      border-radius: 0 0.75rem 0.75rem 0;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: $grey;
      }

      img {
        height: 1rem;
      }
    }
  }
}
